:root{
  background: #0F0F0F;
  color: white;
}


.searchBar-paper{
  position: relative;
  width: 600px;
  display: grid;
  background-color: rgb(25, 24, 24);
  grid-template-columns: 90% 10%;
}

.search-bar {
  border: none;
  outline: none;
  background: rgb(25, 24, 24);
  width: calc(100% - 20px);
  padding-left: 20px;
  border-radius: 20px 0 0 20px;
  color: white;
  font-size: 20px;
}